@newgreen: #1f721f;
@newWhite: white ;
@grayBackground:  gray;
 
.img{
    text-align: center;
    background-color: @grayBackground;
}


.aboutustext{
    text-align: center;
    color: @newgreen;
   
}

.navbar.navbar-inverse {
    border: none;
}

.navbar .navbar-brand {
    padding-top: 0px;
}

.navbar .navbar-brand img {
    height: 50px;
}

body{
    background-color: @grayBackground;
}

.missionText{
    text-align: center;
    color: @newgreen;
}

.imageColor{
    background-color: @grayBackground;
    color: @grayBackground;
    text-align: center;
}

.container{
    text-align: center;
    

}

.table{
    color: @newgreen;
}

.card{
    text-align: center;
    align-content: center;
    align-self: center;
}



footer{
    color: @newWhite;
    background-color: @grayBackground;
    text-align: center;
}
.card-text{
    color: purple;
}

#template{
    color: purple;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

/* Styling for registration and login page */
input[type=text], input[type=password] {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity:1;
}

a {
    color: dodgerblue;
}

.signin {
    background-color: #f1f1f1;
    text-align: center;
}